extends layout

block content
  h1= title
  p= desc

  div.col-xs-12#chatbox
    h3 Million Scales Chat
  div.input-group
    input(type='text', class='form-control', placeholder='Username' autofocus)
    span.input-group-btn
      button(class='btn btn-default', type='button') Login
  hr
  p Click Login to Join!
